html {
  height: 100%;
  display: flex;
  justify-content: center;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
p {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #eff3f7;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  height: 100%;
  padding-top: 50px;
}

.loader {
  height: 100%;
  display: flex;
  align-items: center;
}

.loader .loader__text {
  font-weight: 300;
}

.movies {
  max-width: 1280px;
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  grid-gap: 70px 125px;
  padding: 70px 0;
}

.movies a {
  all: unset;
  cursor: pointer;
}
