.navigation {
  display: flex;
  position: absolute;
  height: 50px;
  align-items: center;
}

.navigation a {
  all: unset;
  margin: 0 10px;
  cursor: pointer;
  font-weight: 600;
}

.navigation a:hover {
  color: #e17055;
}
